* {
	color: #000;
	font: inherit;
	font-family: arial;
	font-size: 12px;
	margin: 0px auto;
	padding: 0px;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	margin: 15px 25px;
}

.clear {
	clear: both;
}
.note {
	background-color: yellow;
	border: 1px solid silver;
	display: inline-block;
	height: 150px;
	margin: 5px;
	padding: 10px;
	width: 150px;
}

#container {
	margin: 10px;
	overflow: hidden;
}

#note_container {
	margin: 10px 0px 15px 10px;
	padding: 10px;
}

#create_note {
	margin: 5px 20px;
	padding: 5px;
}
	#create_note p {
		margin: 5px 0px;
		padding: 5px 0px;
	}
	#create_note label {
		font-size: 16px;
		font-weight: bold;
	}
	#create_note textarea {
		height: 50px;
		width: 150px;
	}
	#create_note input[type="submit"] {
		background-color: yellow;
		height: 20px;
		width: 150px;
	}


